/* ====================== FONT-FACE ====================== */
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");
body {
  font-size: 1em;
  line-height: 1.2;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica;
  font-weight: 300;
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
/* ====================== BACKGROUNDS ====================== */
/* ====================== TEXT ====================== */
/* ====================== BUTTONS ====================== */
/* ====================== BUTTONS ====================== */
}
body h1 {
  font-size: 64px;
  line-height: 1.5em;
}
body h2 {
  font-size: 56px;
  line-height: 1.6em;
}
body h6 {
  margin-bottom: 10px;
}
body > footer {
  padding-top: 0px !important;
  display: none;
}
body > footer .row {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}
body > footer .logo {
  height: 16px;
  margin-left: 4px;
  margin-bottom: -4px;
}
body .bck.theme {
  background: #008fd5;
  -webkit-animation: bck_palette 16s infinite;
  -moz-animation: bck_palette 16s infinite;
  -ms-animation: bck_palette 16s infinite;
  -o-animation: bck_palette 16s infinite;
  animation: bck_palette 16s infinite;
}
body .bck.dark {
  background-color: #d5d5d5;
}
body .bck.lungo {
  background-color: #187fcb;
}
body .bck.quojs {
  background-color: #ffc801;
}
body .bck.monocle {
  background-color: #96f;
}
body .bck.appnima {
  background-color: #ff7640;
}
body .bck.slidus {
  background-color: #3fb58e;
}
body .bck.darkest {
  background-color: #444;
}
body .text.shadow {
  -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  -ms-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  -o-text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
body .text.color.white {
  color: #fff;
}
body .text.color.theme {
  color: #008fd5;
  -webkit-animation: color_palette 16s infinite;
  -moz-animation: color_palette 16s infinite;
  -ms-animation: color_palette 16s infinite;
  -o-animation: color_palette 16s infinite;
  animation: color_palette 16s infinite;
}
body .button,
body button {
  background-color: #333;
  color: #fff;
  font-size: 16px;
}
body .button:active,
body button:active {
  -webkit-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  -ms-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  -o-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
}
body :not(nav) > a:not(.button) {
  color: #fff;
  opacity: 0.9;
}
body :not(nav) > a:not(.button):hover,
body :not(nav) > a:not(.button):active {
  opacity: 1;
}
/* ====================== MASONRY ====================== */
.masonry {
  line-height: 2em;
}
.masonry > * {
  width: 284px;
  height: 284px;
  overflow: hidden;
  font-size: 1.5em;
  line-height: 1.4em;
  color: #666;
  background-size: cover;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
  visibility: hidden;
  opacity: 0;
}
.masonry > *.show {
  visibility: visible;
  -webkit-transition: opacity 750ms 0s;
  -moz-transition: opacity 750ms 0s;
  -ms-transition: opacity 750ms 0s;
  -o-transition: opacity 750ms 0s;
  transition: opacity 750ms 0s;
  opacity: 1;
}
.masonry > *:nth-child(n+2) {
  -webkit-transition-delay: 750ms;
  -moz-transition-delay: 750ms;
  -ms-transition-delay: 750ms;
  -o-transition-delay: 750ms;
  transition-delay: 750ms;
}
.masonry > *:not(.picture) {
  padding: 20px;
}
.masonry > * > .tapquo {
  display: block;
  margin: 38% auto;
  height: 24%;
}
.masonry > *.folk {
  padding: 0px !important;
  cursor: pointer;
}
.masonry > *.folk > img {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.masonry > *.folk > img:hover {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.masonry > *.folk > .title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  -webkit-animation: bck_palette 16s infinite;
  -moz-animation: bck_palette 16s infinite;
  -ms-animation: bck_palette 16s infinite;
  -o-animation: bck_palette 16s infinite;
  animation: bck_palette 16s infinite;
  opacity: 0.75;
  padding: 10px;
}
.masonry > *.folk > .title > small {
  display: block;
  font-size: 15px;
}
.masonry > *.width,
.masonry > *.double {
  width: 588px;
}
.masonry > *.height,
.masonry > *.double {
  height: 588px;
}
.masonry > *.double {
  padding: 40px;
}
.logos {
  text-align: center;
}
.logos > img {
  opacity: 0.4;
  height: 28px;
  margin: 24px 12px 10px 12px;
}
/* ==== Screen Bigger than 960px ==== */
@media only screen and (min-width:1200px) {
  .masonry {
    padding-left: 2px;
  }
}
/* ==== Screen 960px ==== */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .masonry {
    padding-left: 32px;
  }
}
/* ==== Tablet (Smaller than 959px) ==== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .masonry {
    padding-left: 92px;
  }
  .masonry > *.hide.tablet {
    display: none;
    width: 0px !important;
    height: 0px !important;
    margin-bottom: 0px !important;
  }
}
/* ==== Any phone ==== */
@media only screen and (max-width: 767px) {
  body {
    font-size: 13px;
  }
  .masonry > * {
    width: 300px !important;
    margin-bottom: 10px !important;
  }
  .masonry > * > h1 {
    font-size: 1.5em;
    padding: 10px;
  }
  .masonry > * > h6 {
    margin-bottom: 0;
  }
  .masonry > * > .tapquo {
    height: 48px;
    margin: 32px auto;
  }
  .masonry > *:not(.picture) {
    padding: 10px;
    height: auto;
  }
  .masonry > *.picture.width {
    height: 150px;
  }
  .masonry > *.picture:not(.width) {
    height: 300px;
  }
  .masonry > *.folk {
    height: 64px;
    font-size: 1.2em;
  }
  .masonry > *.folk > img {
    width: 64px;
  }
  .masonry > *.hide {
    height: 0px !important;
    margin-bottom: 0px !important;
  }
}
/* ====================== MASONRY ====================== */
@-moz-keyframes bck_palette {
  0% {
    background-color: #008fd5;
  }

  10% {
    background-color: #187fcb;
  }

  30% {
    background-color: #ffc801;
  }

  50% {
    background-color: #96f;
  }

  70% {
    background-color: #3fb58e;
  }

  90% {
    background-color: #ff7640;
  }

  100% {
    background-color: #008fd5;
  }
}
@-webkit-keyframes bck_palette {
  0% {
    background-color: #008fd5;
  }

  10% {
    background-color: #187fcb;
  }

  30% {
    background-color: #ffc801;
  }

  50% {
    background-color: #96f;
  }

  70% {
    background-color: #3fb58e;
  }

  90% {
    background-color: #ff7640;
  }

  100% {
    background-color: #008fd5;
  }
}
@-o-keyframes bck_palette {
  0% {
    background-color: #008fd5;
  }

  10% {
    background-color: #187fcb;
  }

  30% {
    background-color: #ffc801;
  }

  50% {
    background-color: #96f;
  }

  70% {
    background-color: #3fb58e;
  }

  90% {
    background-color: #ff7640;
  }

  100% {
    background-color: #008fd5;
  }
}
@-ms-keyframes bck_palette {
  0% {
    background-color: #008fd5;
  }

  10% {
    background-color: #187fcb;
  }

  30% {
    background-color: #ffc801;
  }

  50% {
    background-color: #96f;
  }

  70% {
    background-color: #3fb58e;
  }

  90% {
    background-color: #ff7640;
  }

  100% {
    background-color: #008fd5;
  }
}
@keyframes bck_palette {
  0% {
    background-color: #008fd5;
  }

  10% {
    background-color: #187fcb;
  }

  30% {
    background-color: #ffc801;
  }

  50% {
    background-color: #96f;
  }

  70% {
    background-color: #3fb58e;
  }

  90% {
    background-color: #ff7640;
  }

  100% {
    background-color: #008fd5;
  }
}
@-moz-keyframes color_palette {
  0% {
    color: #008fd5;
  }

  10% {
    color: #187fcb;
  }

  30% {
    color: #ffc801;
  }

  50% {
    color: #96f;
  }

  70% {
    color: #3fb58e;
  }

  90% {
    color: #ff7640;
  }

  100% {
    color: #008fd5;
  }
}
@-webkit-keyframes color_palette {
  0% {
    color: #008fd5;
  }

  10% {
    color: #187fcb;
  }

  30% {
    color: #ffc801;
  }

  50% {
    color: #96f;
  }

  70% {
    color: #3fb58e;
  }

  90% {
    color: #ff7640;
  }

  100% {
    color: #008fd5;
  }
}
@-o-keyframes color_palette {
  0% {
    color: #008fd5;
  }

  10% {
    color: #187fcb;
  }

  30% {
    color: #ffc801;
  }

  50% {
    color: #96f;
  }

  70% {
    color: #3fb58e;
  }

  90% {
    color: #ff7640;
  }

  100% {
    color: #008fd5;
  }
}
@-ms-keyframes color_palette {
  0% {
    color: #008fd5;
  }

  10% {
    color: #187fcb;
  }

  30% {
    color: #ffc801;
  }

  50% {
    color: #96f;
  }

  70% {
    color: #3fb58e;
  }

  90% {
    color: #ff7640;
  }

  100% {
    color: #008fd5;
  }
}
@keyframes color_palette {
  0% {
    color: #008fd5;
  }

  10% {
    color: #187fcb;
  }

  30% {
    color: #ffc801;
  }

  50% {
    color: #96f;
  }

  70% {
    color: #3fb58e;
  }

  90% {
    color: #ff7640;
  }

  100% {
    color: #008fd5;
  }
}
