.middle
  width: 50%
  float: left

.box
  display: block
  float: left
  vertical-align: top
  overflow: hidden
  border-radius BORDER-RADIUS
  background-size: cover !important
  color: lighten(BACKGROUND, 85%)
  text-align: left

  &.icon
    text-align: center
    color: rgba(255,255,255,0.9)


  &:not(.bck):not(.avatar):not(.hide)
    background-color: lighten(BACKGROUND, 10%)

  &.bck
    &.group
      background-image: url("../img/group.jpg")
    &.developers
      background-image: url("../img/developers.jpg")
    &.boy
      background-image: url("../img/boy.jpg")
    &.girl
      background-image: url("../img/girl.jpg")
    &.girls
      background-image: url("../img/girls.jpg")
    &.ipad
      background-image: url("../img/ipad.jpg")
    &.stewie
      background-image: url("../img/stewie.jpg")

  & .color
    &.theme
      color: THEME

  &.avatar
    position: relative
    &.logo
      background-image: url("../img/logos/tapquo.png")
    &.javi
      background-image: url("../img/javi.jpg")
    &.ina
      background-image: url("../img/ina.jpg")
    &.oihane
      background-image: url("../img/oihane.jpg")
    &.jany
      background-image: url("../img/jany.jpg")
    &.cata
      background-image: url("../img/cata.jpg")
    &.joseba
      background-image: url("../img/default.jpg")

    transition background TRANSITION

    &:hover
      cursor: pointer
      background-position-y: 100%
      & > figure
        bottom: 0

    & > figure
      position: absolute
      bottom: -4rem
      left: 0
      right: 0
      padding: .7em
      line-height: 1.2
      background-color: rgba(52,152,219,0.75)
      color: WHITE
      transition all TRANSITION

      & strong
        display: block
        font-size: 1.25em
        font-weight: lighter !important
      & small
        font-weight: 600
      & nav
        position: absolute
        top: 1.2rem
        right: 0.25rem
        font-size: 1.4em
        & a
          margin-right: .2rem
          &:hover, &:active
            color: WHITE

      & small, & nav > a:not(:hover):not(:active)
        color: rgba(255,255,255,0.7)

  &.no-margin
    margin: 0 !important

  &.app
    background-size: 85% !important
    background-repeat: no-repeat
    background-position: center
    transition background TRANSITION

    &.lungo
      background-image: url("../img/logos/lungo.png")
      &:hover
        background-color: LUNGO
    &.quojs
      background-image: url("../img/logos/quojs.png")
      &:hover
        background-color: QUOJS
    &.appnima
      background-image: url("../img/logos/appnima.png")
      &:hover
        background-color: APPNIMA
    &.monocle
      background-image: url("../img/logos/monocle.png")
      &:hover
        background-color: MONOCLE
    &.tuktuk
      background-image: url("../img/logos/tuktuk.png")
      &:hover
        background-color: TUKTUK
    &.slidus
      background-image: url("../img/logos/slidus.png")
      &:hover
        background-color: SLIDUS
    &.atoms
      background-image: url("../img/logos/atoms.png")
      &:hover
        background-color: ATOMS
    &.yoi
      background-image: url("../img/logos/yoi.png")
      &:hover
        background-color: YOI

  a&
    color: rgba(255,255,255,0.75) !important
    transition background TRANSITION
    &.twitter
      background-color: darken(TWITTER, 25%)
      &:hover
        background-color: TWITTER
    &.facebook
      background-color: darken(FACEBOOK, 25%)
      &:hover
        background-color: FACEBOOK
    &.github
      background-color: darken(GITHUB, 25%)
      &:hover
        background-color: GITHUB
    &.gplus
      background-color: darken(GPLUS, 25%)
      &:hover
        background-color: GPLUS
    &.theme
      background-color: THEME
      &:hover
        background-color: THEME

    &:hover
      color: WHITE !important

  // CHILDREN
  & > h1, & > h2
    font-weight: lighter
    line-height: 1.5

  & > .clients
    margin-top: -(AIR / 1.25)
    padding: 0 (AIR * 2)
    & img
      display: inline-block
      margin: 0 AIR (AIR * 1.2) 0
      height: 1.75em
      opacity: 0.5
      transition all TRANSITION
      &:hover
        opacity: 1

  &.map-marker
    position: relative
    & > h2
      position: absolute
      bottom: 0
      width: 100%
