body
  // max-width: 1050px
  margin: (AIR / 2) auto
  background-color: BACKGROUND
  font-size: 11px !important

*
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box


aside, footer, figure, header, section, img, object, embed
  display: block

img, object, embed
  max-width: 100%


p
  padding: 15px
  background: #b6e4e2
  font-size: 11px

// h1
//   font-size: 72px
//   text-transform: uppercase
