@import "__vendor.styl"

/* ====================== COLORS ====================== */
THEME        = #008FD5
BACKGROUND   = #e5e5e5
BOX          = #d5d5d5
BOX_DARK     = darken(BOX, 50%)
LUNGO        = #187fcb
QUOJS        = #ffc801
MONOCLE      = #9966FF
APPNIMA      = #ff7640
APPNIMA = #1B2960
SLIDUS       = #3fb58e
SLIDUS = #53b7b3

/* ====================== DIMENSIONS ====================== */
PADDING = 20px
BORDER-RADIUS= 1px

/* ====================== ANIMATIONS ====================== */
TRANSITION   = 400ms
