@import "__constants.styl"
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900")

body
  font-size: 16px
  font-family: "Lato", "Helvetica Neue", Helvetica
  font-weight: 300
  background-color: BACKGROUND

  // & > #wall
  //   position: absolute
  //   max-width: 1280px
  //   margin: 0 auto

  & h1
    line-height: 1.5em
  & h2
    line-height: 1.6em
  & h6
    font-size: 1.0em

  & > footer
    margin-bottom: 128px !important
    & .row
      border-radius BORDER-RADIUS
      color: #666
    & img
      height: 32px
      margin-top: 6px

  /* ====================== BACKGROUNDS ====================== */
  & .bck
    &.theme
      background: THEME
      animation bck_palette 16s infinite
    &.dark
      background-color: BOX
    &.lungo
      background-color: LUNGO
    &.quojs
      background-color: QUOJS
    &.monocle
      background-color: MONOCLE
    &.appnima
      background-color: APPNIMA
    &.slidus
      background-color: SLIDUS
    &.darkest
      background-color: BOX_DARK

  /* ====================== TEXT ====================== */
  & .text
    &.shadow
      text-shadow 0 1px 0 rgba(255,255,255,0.5)
    &.color
      &.white
        color: #fff
      &.theme
        color: THEME
        animation color_palette 16s infinite

  /* ====================== BUTTONS ====================== */
  & .button, button
    background-color: #333
    color: white
    font-size: 16px
    &:active
      box-shadow inset 0 0 128px rgba(0,0,0,0.25)

  /* ====================== BUTTONS ====================== */
  & :not(nav) > a:not(.button)
    color: #fff
    opacity: 0.9
    &:hover, &:active
      opacity: 1.0

